* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #272727;
    color: rgb(255, 255, 255);
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#app {
    background: #1d1d1d56;
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 500px;
    padding: 15px;
    margin: 50px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
header{
    color: azure;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px;
}

main {
    
    padding: 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

nav {
    border-top: 2px solid #ffffff;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

#gerar{
    border-radius: 50px;

    
    
}

#msg{
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 18px;
}

button{
    width:80px;
    height:80px;

}
